## Buisness Objective 
The business objective is to predict the churn in the last (i.e. the ninth) month using the data (features) from the first three months.

### Approach

1. Importing Data and Data preparation
- Filtering high value Customers
- Dropping features with no variance
- Deriving new feature
- Labelling Churn status
- Missing Value Treatment
- Outlier Treatment
- Univariate, Bivariate and Multivariate Analysis
- Splitting Data into Train test sets
- Feature Scaling 
- Data Imbalance treatment

2. Building predictor Model
- Build Decision Tree model with best parameters and calculate performance metrics
- Build Random Forest Classifier model with best parameters and calculate performance metrics
- Build Logistic Regression model with optimum cutoff and calculate performance metrics

3. Business Recommendation

In [1]:
import warnings 
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


# Data Preparation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN

# Model Building
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Model Evaluation
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import RocCurveDisplay

In [2]:
telecom = pd.read_csv("telecom_churn_data.csv")

In [3]:
# Setting mobile_number as index as it is a unique identifier for a customer
telecom.set_index('mobile_number', inplace = True)

In [4]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99999 entries, 7000842753 to 7001905007
Columns: 225 entries, circle_id to sep_vbc_3g
dtypes: float64(179), int64(34), object(12)
memory usage: 172.4+ MB

In [5]:
# All the operations will be done on df instead of telecom
cust = telecom.copy()

### Filtering high value customers

Filtering the high value customers for the given dataset. Futher analysis will be done on high value customers only.

**High-Value Customers** : Those who have recharged with an amount more than or equal to 70th percentile of the average amount in the first 2 months (the good phase)

In [6]:
## av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9
# checking for missing values in av_rech_amt_data_6 and av_rech_amt_data_7

print(cust['av_rech_amt_data_6'].isnull().mean() * 100)
print(cust['av_rech_amt_data_7'].isnull().mean() * 100)

74.84674846748467
74.42874428744287

In [7]:
cust[['av_rech_amt_data_6', 'av_rech_amt_data_7']].describe()

       av_rech_amt_data_6  av_rech_amt_data_7
count        25153.000000        25571.000000
mean           192.600982          200.981292
std            192.646318          196.791224
min              1.000000            0.500000
25%             82.000000           92.000000
50%            154.000000          154.000000
75%            252.000000          252.000000
max           7546.000000         4365.000000

In [8]:
# Filling null values with 0 as customer didnot make a recharge in these months. Hence imputting values in the 2 columns with 0
cust['av_rech_amt_data_6'] = cust.av_rech_amt_data_6.fillna(0)
cust['av_rech_amt_data_7'] = cust.av_rech_amt_data_7.fillna(0)

In [9]:
# seperate column to get total recharge in the 6 and 7 th month
cust['av_rech_amt_data_6_7'] = cust['av_rech_amt_data_6'] + cust['av_rech_amt_data_7']

In [10]:
# creating seperate datafram for high value customers
High_value_customers = cust[cust['av_rech_amt_data_6_7'] >= cust['av_rech_amt_data_6_7'].quantile(.70)]
High_value_customers.drop('av_rech_amt_data_6_7', axis=1, inplace=True)
High_value_customers.shape

(30378, 225)

**As mentioned,approx 30k records containg high value customers**

### Dropping Features with no variance

In [12]:
High_value_customers.head()

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,arpu_7,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
mobile_number,,,,,,,,,,,,,,,,,,,,,
7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,214.816,...,0,1.0,1.0,1.0,NaN,968,30.40,0.00,101.20,3.58
7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,355.074,...,0,NaN,1.0,1.0,NaN,1006,0.00,0.00,0.00,0.00
7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,309.876,...,0,0.0,NaN,NaN,NaN,1526,0.00,0.00,0.00,0.00
7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,492.223,...,0,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.00
7001864400,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,119.518,247.435,...,0,NaN,1.0,NaN,NaN,902,0.00,0.00,0.00,0.00

In [13]:
skewed = []
for col in High_value_customers.columns:
    if len(High_value_customers[col].value_counts()) == 1:
        skewed.append(col)
        print(High_value_customers[col].value_counts())

print(skewed)
print(len(skewed))

circle_id
109    30378
Name: count, dtype: int64
loc_og_t2o_mou
0.0    29965
Name: count, dtype: int64
std_og_t2o_mou
0.0    29965
Name: count, dtype: int64
loc_ic_t2o_mou
0.0    29965
Name: count, dtype: int64
last_date_of_month_6
6/30/2014    30378
Name: count, dtype: int64
last_date_of_month_7
7/31/2014    30319
Name: count, dtype: int64
last_date_of_month_8
8/31/2014    30143
Name: count, dtype: int64
last_date_of_month_9
9/30/2014    29940
Name: count, dtype: int64
std_og_t2c_mou_6
0.0    29312
Name: count, dtype: int64
std_og_t2c_mou_7
0.0    29293
Name: count, dtype: int64
std_og_t2c_mou_8
0.0    28587
Name: count, dtype: int64
std_og_t2c_mou_9
0.0    27886
Name: count, dtype: int64
std_ic_t2o_mou_6
0.0    29312
Name: count, dtype: int64
std_ic_t2o_mou_7
0.0    29293
Name: count, dtype: int64
std_ic_t2o_mou_8
0.0    28587
Name: count, dtype: int64
std_ic_t2o_mou_9
0.0    27886
Name: count, dtype: int64
['circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'last_date_of_month_9', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8', 'std_ic_t2o_mou_9']
16

In [14]:
High_value_customers.drop(skewed, axis=1, inplace=True)

**Tagging customers as churn or not**
Tag churners and remove attributes of the churn phase

Now tag the churned customers (churn=1, else 0) based on the fourth month as follows: Those who have not made any calls (either incoming or outgoing) AND have not used mobile internet even once in the churn phase. The attributes you need to use to tag churners are:

total_ic_mou_9
total_og_mou_9
vol_2g_mb_9
vol_3g_mb_9